/*
 * Ory Hydra API
 *
 * Documentation for all of Ory Hydra's APIs. 
 *
 * The version of the OpenAPI document: 
 * Contact: hi@ory.sh
 * Generated by: https://openapi-generator.tech
 */

use std::sync::Arc;
use std::borrow::Borrow;
use std::pin::Pin;
#[allow(unused_imports)]
use std::option::Option;

use hyper;
use hyper_util::client::legacy::connect::Connect;
use futures::Future;

use crate::models;
use super::{Error, configuration};
use super::request as __internal_request;

pub struct MetadataApiClient<C: Connect>
    where C: Clone + std::marker::Send + Sync + 'static {
    configuration: Arc<configuration::Configuration<C>>,
}

impl<C: Connect> MetadataApiClient<C>
    where C: Clone + std::marker::Send + Sync {
    pub fn new(configuration: Arc<configuration::Configuration<C>>) -> MetadataApiClient<C> {
        MetadataApiClient {
            configuration,
        }
    }
}

pub trait MetadataApi: Send + Sync {
    fn get_version(&self, ) -> Pin<Box<dyn Future<Output = Result<models::GetVersion200Response, Error>> + Send>>;
    fn is_alive(&self, ) -> Pin<Box<dyn Future<Output = Result<models::HealthStatus, Error>> + Send>>;
    fn is_ready(&self, ) -> Pin<Box<dyn Future<Output = Result<models::IsReady200Response, Error>> + Send>>;
}

impl<C: Connect>MetadataApi for MetadataApiClient<C>
    where C: Clone + std::marker::Send + Sync {
    #[allow(unused_mut)]
    fn get_version(&self, ) -> Pin<Box<dyn Future<Output = Result<models::GetVersion200Response, Error>> + Send>> {
        let mut req = __internal_request::Request::new(hyper::Method::GET, "/version".to_string())
        ;

        req.execute(self.configuration.borrow())
    }

    #[allow(unused_mut)]
    fn is_alive(&self, ) -> Pin<Box<dyn Future<Output = Result<models::HealthStatus, Error>> + Send>> {
        let mut req = __internal_request::Request::new(hyper::Method::GET, "/health/alive".to_string())
        ;

        req.execute(self.configuration.borrow())
    }

    #[allow(unused_mut)]
    fn is_ready(&self, ) -> Pin<Box<dyn Future<Output = Result<models::IsReady200Response, Error>> + Send>> {
        let mut req = __internal_request::Request::new(hyper::Method::GET, "/health/ready".to_string())
        ;

        req.execute(self.configuration.borrow())
    }

}
